@import "tailwindcss";

@theme {
  /* Color tokens */
  --color-primary: #1d2745;
  --color-secondary: #1de5d4;
  --color-tertiary: #f52c50;
  --color-white: #ffffff;
  --color-mono-100: #f1f1f1;
  --color-mono-200: #bebebe;
  --color-mono-300: #d6d7d9;
  --color-error: #d01e1e;

  /* Font tokens */
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;

  --text-xs: 12px {
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
  }

  --text-sm: 14px {
    line-height: 21px;
    letter-spacing: 0;
    font-weight: 400;
  }

  --text-base: 16px {
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
  }

  --text-xl: 20px {
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 700;
  }

  --text-2xl: 24px {
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 700;
  }

  --text-3xl: 30px {
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 700;
  }
}

body {
  font-family: var(--font-sans);
}
